/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
target
bin
.ensime*
shared/src/main/scala/Empty.scala
.idea/

# Eclipse
bin/
.project
.classpath
.settings/
.externalToolBuilders/

# Scala IDE
.cache*
*.class
